<!-- Extends base template -->
{% extends 'base.html' %}

<!-- Page title -->
{% block head %}
    <title>Register</title>
{% endblock %}

<!-- HTML for registration form -->
{% block body %}
<div class="custom-center">
    <form action="", method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom border-dark mb-2">Create Account</legend>

            <!-- Finding errors for username and displaying them -->
            <div class="form-group mb-2">
                {{ form.username.label(class='form-control-label') }}

                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Finding errors for email and displaying them -->
            <div class="form-group mb-2">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Finding errors for password and displaying them -->
            <div class="form-group mb-2">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Finding errors for confirming password and displaying them -->
            <div class="form-group  mb-2">
                {{ form.confirmPass.label(class="form-control-label") }}
                {% if form.confirmPass.errors %}
                    {{ form.confirmPass(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirmPass.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirmPass(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <!-- Finding errors for file submition and displaying them -->
            <div class="form-group  mb-2">
                {{ form.file.label(class="form-control-label") }}
                {% if form.file.errors %}
                    {{ form.file(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.file.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.file(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>

        <!-- Submit button -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}